@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');

:root {
  --pink: #d64065;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: whitesmoke;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  background-color: #d8d8d8;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

p {
  font-family: 'Roboto', sans-serif;
  color: rgb(155, 155, 155);
}

.row {
  display: flex;
}

.column {
  float: left;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  position: relative;
}

.logo {
  width: 80%;
  margin: 3rem auto;
}

.container {
  width: 1000px;
  margin: auto;
}

#main-banner {
  width: 100%;
  padding-top: 3rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url(./components/images/banner-bg.jpg);

  background-position: center top;
  border-radius: 0 0 15rem 0;
  position: relative;
}

#banner-arrow {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: var(--pink);
}

.book-now {
  background-color: var(--pink);
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  padding: 1rem 3rem;
  border: 3px solid var(--pink);
  border-radius: 3rem;
  transition: 0.3s;
}

.book-now:hover {
  background-color: transparent;
  color: var(--pink);
}

/* INTRODUCTION STYLE */
.introduction-box {
  padding: 2rem;
}

.introduction {
  padding: 3rem;
  text-align: center;
  background-color: whitesmoke;
  color: black;
}

.introduction-img-box {
  width: 240px;
  height: 240px;
  margin: auto;
  text-align: center;
}

.introduction img {
  border-radius: 50%;
  width: 230px;
  transition: 0.3s;
}

.introduction img:hover {
  width: 235px;
  box-shadow: var(--pink) 0 0 5px 0;
  border: 1px solid var(--pink);
}

.introduction i {
  color: var(--pink);
  margin: 2rem;
}
