@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&display=swap');

:root {
  --pink: #d64065;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: whitesmoke;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  background-color: #d8d8d8;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

p {
  font-family: 'Roboto', sans-serif;
  color: rgb(155, 155, 155);
}

a {
  font-family: 'Roboto', sans-serif;
  color: rgb(155, 155, 155);
  text-decoration: none;
}

.row {
  display: flex;
}

.column {
  float: left;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  position: relative;
}

.logo {
  width: 80%;
  margin: 3rem auto;
}

.container {
  width: 1000px;
  margin: auto;
}

.vertical-line {
  position: absolute;
  height: 100%;
  width: 2px;
  bottom: 0;
  left: -4rem;
  background-color: var(--pink);
}

#main-banner {
  width: 100%;
  height: 100vh;
  padding-top: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
    url(./components/images/banner-bg.jpg);
  background-position: center top;
  border-radius: 0 0 15rem 0;
  position: relative;
}

#banner-arrow {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: var(--pink);
}

.book-now {
  background-color: var(--pink);
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  padding: 1rem 3rem;
  border: 3px solid var(--pink);
  border-radius: 3rem;
  transition: 0.3s;
}

.book-now:hover {
  background-color: transparent;
  color: var(--pink);
}

/* CONTENT STYLE */
.content {
  border: 1px solid grey;
  border-radius: 1rem;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.7);
}

table {
  width: 100%;
}

th {
  color: var(--pink);
}

td {
  text-align: center;
}

/* INTRODUCTION STYLE */
.introduction-box {
  padding-top: 2rem;
}

.introduction {
  position: relative;
  padding: 3rem;
  background-color: whitesmoke;
  color: black;
}

.introduction-img-box {
  width: 240px;
  height: 240px;
  margin: auto;
  text-align: center;
}

.introduction img {
  border-radius: 50%;
  width: 230px;
  transition: 0.3s;
}

.introduction img:hover {
  width: 235px;
  box-shadow: var(--pink) 0 0 5px 0;
  border: 1px solid var(--pink);
}

.introduction i {
  color: var(--pink);
  margin: 2rem;
}

/* NAV BAR STYLE */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  border-bottom: 1px solid #555;
  display: inline;
  margin: 0 3rem;
}

.nav-link {
  color: whitesmoke;
}
